.logo
{
    flex-direction: column;
}
.me
{
    flex-direction: column;
}
.menu-container.open
{
    z-index: 10;
}
.project-tile
{
    gap: 15em
}
.popup-inner
{
    height: 30%;
}
.contact-options-list
{
    flex-direction: column;
    align-items: center;
    gap: 5em;
}