html
{
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    width: 15px;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px #9d0207c4; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    background: #9d0207c4; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #dc2f02; 
 }
body
{
    background-color:#03071e;
    font-family: Lato ,sans-serif;
    margin: 0px;
    color: aliceblue;
}
.content
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: min(10rem,5vh);
}
.side-menu
{
    position: absolute;
    z-index: 100;
}
.menu-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(70deg, #9d0207c4, #370617c4);
    position: fixed;
    transform: translate(-100%);
    transition: 0.8s;
}
.menu-container.open
{
    transform: translate(0)
}
.menu-container.open .burger-button
{
    padding: 0px;
    margin: 0
}
.burger-button
{
    border: none;
    background: none;
    z-index: 10;
    margin: 5px 0 0 100%;
    transition: 0.8s;
}
.animated-icon
{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 1s ;
    cursor: pointer;
}
.animated-icon span
{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.5s;
}
.animated-icon span
{
    background: #e3f2fd;
}
.animated-icon span:nth-child(1)
{
    top: 0px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3)
{
    top: 10px;
}

.animated-icon span:nth-child(4)
{
    top: 20px;
}

.animated-icon.open span:nth-child(1)
{
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon.open span:nth-child(2)
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4)
{
    top: 11px;
    width: 0%;
    left: 50%;
}
.links > ul
{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 10em;
    padding: 0;
    list-style: none;
}
.links .basic-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 2em;
    cursor: pointer;

}
.basic-btn > a
{
    text-align: center;
    color:aliceblue;
    text-decoration: none;
    width: 100%;
    padding: 7px 0;
}
.basic-btn:hover
{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
.basic-btn:hover > a
{
    color: #dc2f02;
}
.nav-top
{
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:  30px 0px;
}
.nav-top-title
{
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    transition: 0.5s;
    color: aliceblue;
}
.nav-top-title:hover
{
    color:#dc2f02;
    cursor: pointer;
    transform: scale(1.1);
}
.nav-top-list-wrap
{
    width: fit-content;
    text-align: center;
}
.nav-top-btn-list
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    font-size: large;
}
.topNaw-btn:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.topNaw-btn a
{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}
.topNaw-btn a:hover
{
    color: #dc2f02;
}
.logo
{
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 40em;
    
}
#canvas
{
    position:absolute;
    z-index: -1;
    box-shadow: #370617 0px 0px 30px 15px;
    border-radius: 16px;
}
.logo-front
{
    z-index: 1;
    text-align: center;
}
#promo-welcome
{
    font-size: 3em;
    margin-bottom: 0px;
    width: 450px;
    display: flex;
    gap: 0.4em;
}
.role
{
    text-align: start;
    width: 9ch;
    animation: typing 10s steps(9) infinite ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    color: #dc2f02;
}
@keyframes typing {
    0% {
        width: 0;
    }
    30% {
        width: 9ch;
    }
    70% {
        width: 9ch;
    }
    100% {
        width: 0;
    }
}


#hello-text
{
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
}
.logo-background
{
    transform: scale(-1);
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,  #03071e 10%, transparent 50%), url(svg-images/dotted-wave.svg);
    background-size: cover;
    background-position: center;
    margin: 0 20% 20% 0;

}
#admission-text
{
    display: flex;
    font-size: 1.5em;
    text-align: center;
    width: 40%
}
#project
{
    text-align: center;
    min-height: 100vh;
}
#project > p 
{
    color: rgba(151, 148, 148, 0.753);
}
#project #github-projects
{
    text-decoration: none;
    color: rgb(244, 141, 6);
}
#project-section-title
{
    font-size: 2em;
}
#project-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 20% 0;
}
.project-tile
{
    display: flex;
    gap:4em;
    padding: 4em;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.lieGrd-border
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background: linear-gradient(0deg,#dc2f02  10%, transparent 10%);
    height: 30em;
    width: 25em;

}
.pro-tile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 1em;
    background: linear-gradient(60deg, #46081d , #20030e);
    border: 1px solid rgba(134, 24, 24, 0.3);
    height: 98%;
    width: 98%;
    border-radius: 1em;
    transition: 0.5s;

}
.pro-tile:hover
{
    background: linear-gradient(60deg, #46081d  , #380315);
}
.pro-tile > *
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.project-title
{
    font-size: 1.4em;
    height: 1.6em;
    padding-top: 0.4em;
}
.project-info
{
    height: 20.625em;
    width: 22.125em;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}
.framework-list
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}
.framework
{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 33%;
}
.framework-list img
{
    width: 3rem;
    height: 3rem;
}
.goTo-project
{
    display: flex;
    height: 2em;
    cursor: pointer;
    width: 6em;
    border-radius: 15px;
    background-color: #dc2f02;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.goTo-project:hover
{
    cursor: pointer;
    background-color: #9d0208;
    transform: scale(1.1);
}
.me
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}
.info
{
    height: 80%;
    width: 80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.view-more
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 10px;
    text-align: center;
    width: 20em;
    height: fit-content;
}
.card
{
    display: grid;
    grid-template-columns: auto auto;
    height: 15em;
    width: 20em;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#hidden-aboutMe
{
    display: flex;
    height: 2em;
    width: fit-content;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #dc2f02;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
#hidden-aboutMe:hover
{
    background-color: #9d0208;
    transform: scale(1.1);
}
.me-btns
{
    display: flex;
    gap: 15px;
}

#skills-section
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.skills
{
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin: 15em 0 0 0;
}
.tools-tech
{
    display: flex;
    justify-content: center;
    gap: 20%;
}
.skills-list
{
    padding: 0;
    min-width: 15em;
    width: 30%;
    height: 20em;
    list-style: none;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.skills-list>li
{
    padding: 5px 0px;
}

#contact-section
{
    height: 100vh;
    text-align: center;
    margin: 0 20%;
}
.contact-container
{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.contact-card
{
    width: 20em;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-image: linear-gradient(to top, #03071e 5%, transparent 125%), url(svg-images/waves.svg);
    background-size: cover;
    background-position: bottom
}
.bottom-btn-list
{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}
#bottom-title
{
    font-size: 2em;
    text-decoration: none;
    color:aliceblue;
    transition: 0.5s;
}
#bottom-title:hover
{
    transform: scale(1.2);
    color: #dc2f02;
}
.bottom-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    padding: 0 10px;
    height: 2em;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.bottom-link:hover
{
    transform: scale(1.1)
}
.bottom-link > a
{
    text-decoration: none;
    color: aliceblue;
}
.bottom-link > a:hover
{
    color: #dc2f02;
}

.colorRed
{
    color: red;
}
.colorBlue
{
    color: blue;
}