body
{
    background-color:#03071e;
    font-family: Lato ,sans-serif;
    margin: 0px;
}
.content
{
    color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: min(10rem,5vh);
}
.nav-top
{
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:  30px 0px;
}
.nav-top-title
{
    width: 20%;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    transition: 0.5s;
}
.nav-top-title:hover
{
    color:#dc2f02;
    cursor: pointer;
    transform: scale(1.2);
}
.nav-top-list-wrap
{
    width: 80%;
    text-align: center;
    flex:  1 1
}
.nav-top-btn-list
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    font-size: large;
}
.topNaw-btn:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.topNaw-btn a
{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}
.topNaw-btn a:hover
{
    color: #dc2f02;
}
.logo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    position:relative;
    width: 80%;
    height: 20em;
}
#canvas
{
    position:absolute;
    z-index: -1;
    box-shadow: #370617 0px 0px 30px 15px;
    border-radius: 16px;
}
.logo-front
{
    z-index: 1;
    text-align: center;
}
#promo-welcome
{
    font-size: 3em;
    margin-bottom: 0px;
    width: 450px;
}
#role
{
    color: #dc2f02;
}
#hello-text
{
    margin-top: 10px;
    width: 450px;
    font-size: 20px;
}
#admission
{
    text-align: center;
    font-size: large;
    width: 30%;
    height: 20%;
}
#project
{
    text-align: center;
}
#project > p 
{
    color: rgba(151, 148, 148, 0.753);
}
#project a
{
    text-decoration: none;
    color: rgb(244, 141, 6);
}
#alert
{
    font-size: 2em;
}
#project-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.project-tile
{
    display: flex;
    gap:4em;
    padding: 4em;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.lieGrd-border
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(0deg,#dc2f02  10%, transparent 10%);
    height: 30em;
    width: 25em;

}
.pro-tile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    background-color:  #370617;
    border: 2px solid rgba(134, 24, 24, 0.3);
    height: 95%;
    width: 95%;
    border-radius: 15px;
    transition: 0.5s;
    transform: scale(1.02)
}
.pro-tile:hover
{
    transform: scale(1)
}
.pro-tile > *
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.project-title
{
    text-align: center;
    font-size: 1.4em;
    height: 20%
}
.framework-list
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60%;
    width: 90%;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}
.framework-list > p
{
    width: 100%;
}
.framework-list > li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width : 4em;
    font-size: 14px;
}
.framework-list img
{
    width: 50px;
    height: 50px;
}
.goTo-project
{
    height: 10%;
    width: 35%;
    border-radius: 25px;;
    color: aliceblue;
    background-color: #dc2f02;
    transition: 0.5s;
    border: none;
    font-size: 1em;
}
.goTo-project:hover
{
    cursor: pointer;
    background-color: #9d0208;
}
#me
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info
{
    display:flex;
    justify-content: center;
}
.view-more
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 10px;
    text-align: center;
    height: 10em;
    width: 20em;

}
.info img
{
    border-radius: 30px;
    box-shadow: #370617 0px 0px 30px 15px;
}
#alert-for-me
{
    font-size: 1.5em;
}
#hidden-aboutMe
{
    display: flex;
    height: 2em;
    cursor: pointer;
    width: 6em;
    border-radius: 15px;
    background-color: #dc2f02;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
#hidden-aboutMe:hover
{
    background-color: #9d0208;
    transform: scale(1.1);
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-image: linear-gradient(to top, #03071e 5%, transparent 125%),
    url(/images/wawes.svg);
    background-size: cover;
    background-position: bottom
}
.bottom-btn-list
{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}
#bottom-title
{
    font-size: 2em;
}
.bottom-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    padding: 0 10px;
    height: 2em;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.bottom-link:hover
{
    color:#dc2f02;
    transform: scale(1.1)
}